
*,
*::after,
*::before {
    /*  */
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // thid defines what 1rem is
    /* font-size: 10px; */
    font-size: 62.5%;    
    /**   字形基本值，很容易透過rem進行調整   */
    /*  基礎字型尺寸為16，
    又因為想透過百分比顯示，並且維持之前10倍設定rem的方式，所以採用62.5％做替換  */
}

body {
    box-sizing: border-box;
}
